.box {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Mona_Lisa%2C_by_Leonardo_da_Vinci%2C_from_C2RMF_retouched.jpg/687px-Mona_Lisa%2C_by_Leonardo_da_Vinci%2C_from_C2RMF_retouched.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 300px;
  width: 300px;
  height: 400px;
  border: 2px dashed #333;
}
